:root {
    --light-gray: #202121;
    --dark-gray: #0B0C0D;
    --dark-blue: #454C4F;
    --fiap-pink: #F80D5A;
}

body {
    max-width: 1920px;
    margin: 0;
    padding: 0;
    font-family: "Gotham HTF";
    color: #FFF;
    background-color: #000;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.5s;
}

.nav-bg {
    background-color: var(--light-gray);
    transition: all 0.5s;
}

nav img {
    width: 144px;
    height: 39px;
}

.prog-barra {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1vh;
}

.filled {
    --progress: 0;
    height: 100%;
    width: var(--progress);
    background-color: var(--fiap-pink);
}

.about {
    font-family: Gotham HTF;
    height: 1100px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "area";
}

.about h1 {
    font-weight: 800;
    color: var(--dark-gray);
    font-size: 250px;
    grid-area: area;
    align-self: center;
    justify-self: center;
    animation: fadeInAbout 1s linear;
}

@keyframes fadeInAbout {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.about h2 {
    font-weight: 400;
    font-size: 75px;
    margin: 0;
    position: relative;
    bottom: 73px;
    right: 57px;
    animation: best-animation 1s ease;
}

.about .main-text {
    position: relative;
    bottom: 59px;
    right: -6px;
}

.about .top-college-text {
    grid-area: area;
    align-self: center;
    justify-self: center;
    letter-spacing: -2px;
}

@keyframes best-animation {
    0% { opacity: 0; transform: translate(0px, -10px); }
    100% { opacity: 1; transform: translate(0px, 0px); }
}


/*Texto indo pra um lado e para o outro*/
.container {
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 100px 0; 
}

.title {
    text-align: center;
    position: relative;
    padding: 40px 0; /* Reduzindo o padding para diminuir o espaço entre os títulos */
}

.h1,
.h2 {
    white-space:nowrap;
    position: absolute; 
    will-change: transform;
    opacity: 0; 
    font-size: 44px;
    font-weight: 300;
    border-bottom: 2px solid white;
    margin: 50px 0; 
}

.img {
    max-width: 80%;
    height: auto;
    margin-top: 50px;
}


/*aniamação da agua*/
.water-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container {
    width: 100%;
    height: 100%;
}

#waterImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*cursos*/
.app {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: baseline; /* Alinha os elementos ao topo */
    margin-bottom: 20px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinha itens verticalmente ao centro */
}

.text-container {
    text-align: left; /* Alinha o texto à esquerda */
}

.text-container h1 {
    font-size: 36px;
    margin: 0; /* Remove todas as margens */
}

.text-container h2 {
    font-size: 14px;
    margin: 0; /* Remove todas as margens */
    color: #F80D5A;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Alinha os itens à direita */
    align-items: center; /* Alinha itens verticalmente ao centro */
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.items .item {
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px; /* Espaçamento entre os itens da lista */
    position: relative; /* Permite posicionar o hr em relação ao item */
    cursor: pointer; /* Mostra o cursor como pointer ao passar por cima */
}

.items .item::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: #F80D5A;
    transition: width 0.3s ease; 
}

.items .item.active::before {
    width: 50%;
}

    .courseList {
        list-style-type: none;
        padding: 0;
        width: 60%;
    }

    .courseItem {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        margin-left: 0;
        position: relative; /* Para posicionar os pseudo-elementos */
    }

    .courseItem::before,
    .courseItem::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: transparent;
        z-index: -1; /* Para ficar atrás do conteúdo */
        transition: background-color 0.3s ease; /* Transição suave */
    }

    .courseItem::before {
        left: 0;
        background-color: transparent;
    }

    .courseItem::after {
        right: 0;
        background-color: transparent;
    }

    .courseItem:hover::before,
    .courseItem:hover::after {
        background-color: #F80D5A; /* Cor de fundo vermelha ao passar o mouse */
    }

    .courseName {
        font-size: 16px;
        font-weight: bold;
        color: #555;
    }
    .courseType {
        font-size: 16px;
        font-weight: bold;
        color: #555;
    }

    .courseType {
        margin-left: 0;
        font-size: 12px;
        color: #555;
    }





/*FAQ*/
.container2 {
    width: 80%;
    margin: 120px auto 0;
}

.container p {
    font-size: 1.3rem;
    color: #F80D5A;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.box .item {
    width: 30%;
    min-height: 150px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.item hr {
    position: absolute;
    margin-bottom: 15px;
    width: 50px;
    transition: width 0.3s ease, background-color  0.3s ease;
    background-color: #F80D5A;
}
.item p {
    opacity: 0;
    transition: opacity 1s ease;
}

.item:hover p {
    opacity: 1;
    cursor: default;
}

.item:hover hr {
    width: 23%;
    background-color: #F80D5A;
    cursor: default;
}






/* Responsividade */
@media (max-width: 1200px) {
    .about h1 {
        font-size: 200px;
    }

    .about h2 {
        font-size: 50px;
    }

    .h1,
    .hdois {
        font-size: 50px;
    }

    .items {
        flex-direction: column;
        gap: 10px;
    }

    .container2 {
        width: 90%;
    }

    .box .item {
        width: 45%;
    }

    .course-container {
        flex-direction: column;
    }

    .courseList {
        width: 100%;
    }
}

@media (max-width: 768px) {
    nav img {
        width: 120px;
        height: 30px;
    }

    .about h1 {
        font-size: 150px;
    }

    .about h2 {
        font-size: 40px;
    }

    .h1,
    .hdois {
        font-size: 40px;
    }

    .box .item {
        width: 100%;
    }
}

@media (max-width: 480px) {
    nav img {
        width: 100px;
        height: 25px;
    }

    .about h1 {
        font-size: 100px;
    }

    .about h2 {
        font-size: 30px;
    }

    .h1,
    .hdois {
        font-size: 30px;
    }

    .container h1 {
        font-size: 2rem;
    }

    .container h2 {
        font-size: 1rem;
    }
}
